.materials {
  flex-grow: 1;
  padding: 20px;
}

.materials .title-and-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.materials .title-and-buttons .title {
  color: var(--var-title);
}

.materials .title-and-buttons .button-content .button {
  font-size: 18px;
  color: white;
  padding: 15px 30px;
  margin-right: 20px;
  border-radius: 30px;
  background-color: var(--var-bg);
}

.materials .filter-content {
  margin-top: 10px;
  background-color: var(--var-bg1);
}

.materials .filter-content .divition-bar-text {
  text-align: center;
  color: white;
  background-color: var(--var-bg);
}

.materials .filter-content .filter-selection {
  display: flex;
  align-items: center;
  padding: 20px;
  color: var(--var-title);
  font-weight: 6007774;
  font-size: 20px;
}

.materials .filter-content .filter-selection .filter-selection-text-middle {
  display: flex;
  padding: 10px 20px;
}

.materials .filter-content .filter-selection .input-view {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.materials .filter-content .filter-selection input {
  border: 2px solid var(--var-title);
  border-radius: 4px;
  color: var(--var-title);
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  width: 100%;
  padding: 5px;
}

.materials .filter-content .filter-selection input::placeholder {
  color: var(--var-title);
}

.materials .unit-list-content {
  margin-top: 20px;
}

.materials .unit-list-content .unit-table {
  width: 100%;
}


.materials .unit-list-content .unit-table th,
.materials .unit-list-content .unit-table td {
  padding: 10px;
  text-align: left;
  margin: .5px;
  background-color: var(--var-bg1);
}