@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700&display=swap');

#root {
  --var-bg: #559eb9;
  --var-text: #0061ff;
  --var-text1: #676767;
  --var-title: #2f1160;
  --var-bg1: #e1e1e1;
  --var-bg2: #f5f5f5;

  background-color: white;
  font-family: 'Baloo 2', cursive;
}

* {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

button.form-button {
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 15px 30px;
  border-radius: 6px;
  background-color: var(--var-title);
  cursor: pointer;
}

button.action-button {
  font-size: 18px;
  color: white;
  padding: 15px 30px;
  margin-right: 20px;
  border-radius: 30px;
  background-color: var(--var-bg);
  cursor: pointer;
}