.allocation-units {
  flex-grow: 1;
  padding: 20px;
}

.allocation-units .content-header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.allocation-units .content-header .path {
  color: var(--var-text1);
  background-color: var(--var-bg1);
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 2px;
}

.allocation-units .content-header .path img {
  width: 20px;
  height: 20px;
  margin-right: 5px
}

.allocation-units .content-header .content-header-title-and-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.allocation-units .content-header .content-header-title-and-buttons .title {
  color: var(--var-title);
}

.allocation-units .content-header .content-header-title-and-buttons .button-content .button {
  font-size: 18px;
  color: white;
  padding: 15px 30px;
  margin-right: 20px;
  border-radius: 30px;
  background-color: var(--var-bg);
}

.allocation-units .filter-content {
  margin-top: 10px;
  background-color: var(--var-bg1);
}

.allocation-units .filter-content .divition-bar-text {
  text-align: center;
  color: white;
  background-color: var(--var-bg);
}

.allocation-units .filter-content .filter-selection {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  flex-grow: 1;
}

.allocation-units .filter-content .filter-selection * {
  border: 2px solid var(--var-title);
  border-radius: 4px;
  color: var(--var-title);
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  margin: 10px;
  width: 30%;
  padding: 5px;
}

.allocation-units .filter-content .filter-selection input::placeholder {
  color: var(--var-title);
}

.allocation-units .unit-list-content {
  margin-top: 20px;
}

.allocation-units .unit-list-content .unit-table {
  width: 100%;
}


.allocation-units .unit-list-content .unit-table th,
.allocation-units .unit-list-content .unit-table td {
  padding: 10px;
  text-align: left;
  margin: .5px;
  background-color: var(--var-bg1);
}